

<header class="header">
    <div class="header-right">
        
         <a class="logo-title" routerLink="{{routes.HOME}}"><img src="/dSefer.jpeg" alt="דרכי הספר" class="logo"></a>
    </div>

     <nav class="main-menu">
        <!-- <a href="#">אודות</a> -->
        <!-- <a href="#">ספרי טבע</a> -->
        <!-- <a href="#">ספרי הלכה</a> -->
        <!-- <a href="#">ספרי מדע</a> -->
        <!-- <a href="#">ספרים נוספים</a> -->
            <a routerLink="{{routes.CATALOG}}">קטלוג</a>
    <a routerLink="{{routes.CART}}">עגלת קניות</a>
    <a routerLink="{{routes.CHECKOUT}}">תשלום</a>
    <a routerLink="{{routes.CONTACT}}">צור קשר</a>
    </nav>

    <div class="header-left">
        <a href="#" class="cart-btn"> סל</a>
        <a href="#" class="login-btn">התחברות</a>
    </div>
</header> 



