.footer {

    background: #0a0a0a;

    padding: 120px 5% 40px;

    position: relative;

    overflow: hidden;
}

.footer::before {

    content: '';

    position: absolute;

    top: 0;
    left: 50%;

    width: 600px;
    height: 600px;

    transform: translateX(-50%);

    background:
        radial-gradient(circle,
            rgba(212, 175, 55, .08) 0%,
            transparent 70%);

    pointer-events: none;
}

.footer-card {

    max-width: 700px;

    margin: auto;

    padding: 80px 60px;

    text-align: center;

    border: 1px solid rgba(212, 175, 55, .7);

    border-radius: 35px;

    background: rgba(255,255,255,.02);

    backdrop-filter: blur(10px);

    position: relative;
}

.footer-logo img {

    width: 90px;

    height: 90px;

    object-fit: cover;

    border-radius: 50%;

    margin-bottom: 20px;
}

.footer-logo h2 {

    color: #d7ab75;

    font-size: 3rem;

    margin: 0;
}

.footer-logo span {

    color: rgba(255,255,255,.6);

    letter-spacing: 4px;

    font-size: .9rem;
}

.footer-description {

    color: #fff;

    font-size: 1.2rem;

    line-height: 2;

    max-width: 550px;

    margin: 40px auto;
}

.contact-list {

    margin: 50px 0;

    display: flex;

    flex-direction: column;

    gap: 25px;
}

.contact-item {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 15px;

    color: white;

    font-size: 1.1rem;
}

.icon {

    color: #d7ab75;

    font-size: 1.5rem;
}

.footer-links {

    display: flex;

    justify-content: center;

    gap: 40px;

    margin: 50px 0 40px;

    flex-wrap: wrap;
}

.footer-links a {

    color: rgba(255,255,255,.8);

    text-decoration: none;

    transition: .3s;

    position: relative;
}

.footer-links a::after {

    content: '';

    position: absolute;

    right: 0;
    bottom: -8px;

    width: 0;

    height: 1px;

    background: #d7ab75;

    transition: .3s;
}

.footer-links a:hover {

    color: #d7ab75;
}

.footer-links a:hover::after {

    width: 100%;
}

.socials {

    display: flex;

    justify-content: center;

    gap: 20px;
}

.socials a {

    width: 55px;
    height: 55px;

    border-radius: 50%;

    border: 1px solid #d7ab75;

    color: #d7ab75;

    text-decoration: none;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 1.4rem;

    transition: .3s;
}

.socials a:hover {

    background: #d7ab75;

    color: #0a0a0a;

    transform: translateY(-8px);
}

.copyright {

    text-align: center;

    color: rgba(255,255,255,.4);

    margin-top: 50px;

    font-size: .9rem;
}

@media (max-width: 768px) {

    .footer-card {

        padding: 50px 25px;
    }

    .footer-logo h2 {

        font-size: 2.2rem;
    }

    .footer-links {

        gap: 20px;
    }
}