.footer {
  background: #2d1d12;
  color: white;
  margin-top: 80px;
}

.footer-content {
  max-width: 1300px;
  margin: auto;

  padding: 60px 5%;

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 40px;
}

.footer h3 {
  margin-bottom: 15px;
  color: #d9b06f;
}

.footer p,
.footer li {
  color: #ddd;
  line-height: 1.9;
}

.footer ul {
  list-style: none;
}

.footer a {
  color: #ddd;
  text-decoration: none;
  transition: .3s;
}

.footer a:hover {
  color: #d9b06f;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,.1);
  color: #bbb;
}

/* =========================
   ANIMATIONS
========================= */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 992px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .main-menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content h1 {
    font-size: 48px;
  }

  .hero-content p {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .hero-content h1 {
    font-size: 38px;
  }

  .recommended h2 {
    font-size: 30px;
  }

  .contact-banner h2 {
    font-size: 28px;
  }

  .contact-banner p {
    font-size: 16px;
  }
}