<footer class="footer">

    <div class="footer-container">

        <!-- מותג -->
        <div class="footer-column brand">

            <img  src="logo.png" alt="דרכי הספר" class="footer-logo">

            <h3>דרכי הספר</h3>

            <p>
                הוצאה לאור המתמחה בספרי לימוד איכותיים
                למוסדות חינוך, גנים ובתי ספר.
            </p>

            <p>
                ספרים ברמה גבוהה, תכנים מקצועיים,
                ליווי אישי ושירות מכל הלב.
            </p>

        </div>


        <!-- ניווט -->
        <div class="footer-column">

            <h4>ניווט</h4>

            <a routerLink="/">דף הבית</a>
            <a routerLink="/catalog">קטלוג</a>
            <a routerLink="/cart">עגלת קניות</a>
     
        </div>


        <!-- יצירת קשר -->
        <div class="footer-column">

            <h4>יצירת קשר</h4>

            <span>מודיעין עילית, ישראל</span>
            <span>03-5791123</span>
            <span>office@d-sefer.co.il</span>

        </div>


        <!-- מידע -->
        <div class="footer-column">

            <h4>שעות פעילות</h4>

            <span>א'-ה' : 08:00 - 17:00</span>
            <span>יום ו' : סגור</span>

 <div class="socials">

    <a
        href="https://wa.me/972778992806?text=שלום%2C%20הגעתי%20דרך%20האתר%20דרכי%20הספר.%0Aאני%20מעוניין%20לקבל%20מידע%20על%20ספרי%20לימוד%20למוסד%20חינוכי.%0Aאשמח%20לקבל%20הצעת%20מחיר%20והמלצה%20על%20הספרים%20המתאימים.%20תודה!"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="WhatsApp">

        <img
            src="./watsapp.jpg"
            alt="WhatsApp"
            loading="lazy">

    </a>

    <a
        href="mailto:office@d-sefer.co.il?subject=בקשה%20לקבלת%20מידע%20והצעת%20מחיר&body=שלום,%0A%0Aהגעתי%20דרך%20האתר%20%22דרכי%20הספר%22.%0A%0Aאשמח%20לקבל%20מידע%20על%20ספרי%20הלימוד%20המתאימים%20למוסד%20שלנו,%20כולל%20הצעת%20מחיר%20והמלצות.%0A%0Aשם%20המוסד:%0Aאיש%20קשר:%0ATלפון:%0A%0Aתודה%20רבה."
        aria-label="Email">

        <img
            src="./email.jpg"
            alt="Email"
            loading="lazy">

    </a>

</div>

        </div>

    </div>


    <div class="footer-bottom">

        <span>
            © 2026 דרכי הספר | כל הזכויות שמורות
        </span>

    </div>

</footer>