<section class="hero">

    <div class="hero-content">

        <span class="small-title">
            ללמוד וללמד
        </span>

        <h1>
            קטלוג
            <br>
            ספרי לימוד
        </h1>

        <button>
            מעבר לקטלוג
        </button>

    </div>

</section>

<section class="categories">

    <div class="category-card">
        <img src="assets/cat1.png">
        <h3>ספרי קודש</h3>
    </div>

    <div class="category-card">
        <img src="assets/cat2.png">
        <h3>עברית</h3>
    </div>

    <div class="category-card">
        <img src="assets/cat3.png">
        <h3>מתמטיקה</h3>
    </div>

    <div class="category-card">
        <img src="assets/cat4.png">
        <h3>אנגלית</h3>
    </div>

</section>