.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  color: #111;
}

.content {
  flex: 1 0 auto;
  padding: 1rem;
  
  margin: 0;
}

@media (min-width: 768px) {
  .content {
    padding:0;
  }
}
